body {
    font-family: Arial, sans-serif;
    background-color: #05161a;
    margin: 0;
    padding: 0;
    color: #0c7075;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cal {
    background-color: #072e33;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #00857e;;
    padding: 20px;
    text-align: center;
    width: 320px;
}

#display {
    font-size: 24px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    text-align: right;
    background-color: black;
    color: white;
    border-radius: 10%;
}

button {
    font-size: 18px;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #294d61;
    border-radius: 8px;
    color: #0c7075;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #008680;
    border-radius: 12px;
}

.cl {
    background-color: #6da5c0;
    color: #05161a;
}

.val {
    background-color: #0f969c;
    color: #05161a;
}

.eql {
    width: 115px;
    background-color: #0f969c;
    color: #05161a;
}

